<app-map-bar></app-map-bar>
<div class="acrylic rounded-5 col-xl-8 col-sm-10 mx-3 mx-sm-auto p-5 mb-5" *ngFor="let item of array">
	<h1 class="mb-0">{{item.fields.title}}</h1>
	<p style="font-size: .75rem;">
		<u><b>Created</b></u>: {{item.fields.creationDate | datePipe}} <br>
		<u><b>Updated</b></u>: {{item.sys.updatedAt | datePipe}}
	</p>
	<div>
		<div [innerHtml]="item.fields.description | toHtml"></div>
		<!-- <img class="img-fluid" src="{{item.fields.attachment[0].fields.file.url}}"><img> -->
		<img 
			[src]="item.fields.attachment[0].fields.file.url"
            class="img-fluid mb-4"
		>
		<a 
			href={{item.fields.attachment[1].fields.file.url}}
			target="_blank" rel="noopener"
			class="btn btn-primary"
		>
			View PDF
		</a>
	</div>
</div>
