<app-map-bar></app-map-bar>
<div class="acrylic rounded-5 col-sm-10 mx-3 mx-sm-auto p-5 mb-5" *ngFor="let item of array">
	<h1 class="mb-0">{{item.fields.title}}</h1>
	<p style="font-size: .75rem;">
		<u><b>Created</b></u>: {{item.fields.creationDate | datePipe}} <br>
		<u><b>Updated</b></u>: {{item.sys.updatedAt | datePipe}}
	</p>
	<div>
		<div [innerHtml]="item.fields.description | toHtml"></div>
		<!-- <img class="img-fluid" src="{{item.fields.attachment[0].fields.file.url}}"><img> -->
		<pdf-viewer 
			[src]="item.fields.attachment[0].fields.file.url"
            [render-text]="false"
            [original-size]="false"
            [zoom]=".9"
            [zoom-scale]="'page-fit'"
            [autoresize]="true"
            [show-all]="true"
            class="mx-auto d-fluid"
            style="width: 100%; height: 40vw"
		></pdf-viewer>
		<a 
			*ngIf="this.platform.ANDROID"
			href="{{'https://docs.google.com/viewerng/viewer?url=http:'+item.fields.attachment[0].fields.file.url}}"
			target="_blank" rel="noopener"
			class="btn btn-primary"
		>
			View PDF
		</a>
		<a 
			*ngIf="!this.platform.ANDROID"
			href={{item.fields.attachment[0].fields.file.url}}
			target="_blank" rel="noopener"
			class="btn btn-primary"
		>
			View PDF
		</a>
	</div>
</div>
