.map-container {
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: 30px;
  height: 50vh;
}

.map-frame {
  height: 50vh;
  width: 50vw;
  // border: 2px solid black;
}

#map {
  height: 50vh;
}