/* You can add global styles to this file, and also import other style files */

@import "../../node_modules/bootstrap/scss/functions";

$primary: #eb34bd;
$body-bg: #191825;


$theme-colors: (
	"primary": $primary,
	"body-bg": $body-bg
);

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

